@model IEnumerable<E_commerceFirstFull.Models.User>

@{ Layout = "~/Views/Shared/admin_layout.cshtml";}

<section class="">
    <div class="container menu-edit-users">
        <div>
            <a asp-action="CreateUser" asp-controller="Admin">Create User</a><br />
            <a asp-action="CreateProduct" asp-controller="Admin">Create New Product</a><br />
            <a asp-action="EditProducts" asp-controller="Admin">Edit Existing Products</a><br />
            <a asp-action="Index" asp-controller="Admin">Exit to Main Menu</a>
        </div>
        <table>
            <tr><th>FirstName</th><th>LastName</th><th>UserName</th><th>Email</th><th>
            @foreach (var user in Model)
            {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <form asp-action="Delete" asp-controller="Admin" asp-route-id="@user.Id" method="post">
                    <a class="" asp-action="EditTheUser" asp-route-id="@user.Id">Edit</a>
                    <button type="submit" class="">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
            }
        </table>
    </div>
</section>


<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>